* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #5d8960;
    color: white;
    text-align: center;
    padding: 10px;
}

.navbar {
    display: flex;
    background-color: #333;
}

#head1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
}

input {
    width: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid #afaeae;

}

.navbar a {
    padding: 14px 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 0 auto;
    padding: 10px;
    border: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 52px;
    font-weight: bold;
}

.container p {
    font-size: 28px;
    margin-bottom: 20px;
}

.container h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

.container ul li {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
    width: 50rem;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 30%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #0c3e1e;
    color: white;
    padding: 10px 15px;
    margin: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 250px;
}

button:hover {
    background-color: #3b803e;
}

a {
    color: #4CAF50;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 2px solid #afaeae;
    height: auto;
    width: 250px;
}
a:hover {
    color: #3b803e;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    border-color: #333;
    border-width: 2px;
}

table th {
    font-weight: bold;
    padding: 5px;


}

body {
    background-color: #e0e0e0;
}

.dashboard .card {
    padding: 10px;
    margin: 10px;
    border: 2px solid #afaeae;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: black;
    text-decoration: none;
    height: fit-content;
    padding-bottom: 25px;
}

.dashboard a {
    padding: 10px;
    margin: 10px;
    border: 2px solid #afaeae;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
}

.container .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container .actions #edit {
    font-size: 18px;
    text-decoration: underline;
}

.manage_orders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
    /* Add this line to center the table */
    border-color: #333;
    border-width: 2px;
}

form button {
    background-color: #0c3e1e;
    color: white;
    padding: 10px 15px;
    margin: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
}

form button:hover {
    background-color: #3b803e;
}

.actions a {
    padding: 5px;
    margin: 10px;
    border: 2px solid #afaeae;
    border-radius: 10px;
    /* background-color: #4CAF50; */
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 150px;
}